# Git Commit 规范

- 自动生成的 commit message 必须使用中文。
- 格式遵循：<类型>: <描述>。
- 类型包括：feat (新功能), fix (修补 bug), refactor (重构), style (格式修改), docs (文档)。
- 描述应概括改动的核心逻辑，例如：“refactor: 重构播放功能”，“feat:歌词顺序持久化 歌词滚动效果优化”。尽量简短明了，尽量不要超过15字
